{%- set distro_release = salt['grains.get']('osmajorrelease')|string -%}
{%- set release_dir = {
    'Debian': {
        '8': 'debian8',
        '9': 'debian9',
    }.get(distro_release, 'debian9'),
    'RedHat': {
        '7': 'centos7',
    }.get(distro_release, 'centos7'),
}.get(salt['grains.get']('os_family')) -%}

{% set map = {
    'Arch': {
        'client': 'ntp',
        'server': 'ntp',
        'service': 'ntpd',
        'ntpdate': 'ntpdate',

        'ntp_conf': '/etc/ntp.conf',
        'ntpd_conf': '/etc/ntpd.conf',
    },
    'Debian': {
        'client': 'ntp',
        'server': 'ntpd',
        'service': 'ntp',
        'ntpdate': 'ntpdate',

        'ntp_conf': '/etc/ntp.conf',
        'ntpd_conf': '/etc/ntpd.conf',

        'ntp_conf_src': 'salt://ntp/files/{}/ntp.conf.jinja'.format(release_dir),
    },
    'RedHat': {
        'client': 'ntp',
        'server': 'ntpd',
        'service': 'ntpd',
        'ntpdate': 'ntpdate',

        'ntp_conf': '/etc/ntp.conf',
        'ntpd_conf': '/etc/ntpd.conf',

        'ntp_conf_src': 'salt://ntp/files/{}/ntp.conf.jinja'.format(release_dir),
    },
    'Suse': {
        'client': 'ntp',
        'server': 'ntp',
        'service': salt['grains.filter_by']({
            '11.3': 'ntp',
            '11.4': 'ntp',
            'default': 'ntpd',
        }, grain='osrelease'),
        'ntpdate': 'ntpdate',

        'ntp_conf': '/etc/ntp.conf',
        'ntpd_conf': '/etc/ntpd.conf',
    },
} %}

{% set ntp = salt['grains.filter_by'](map, merge=salt['pillar.get']('ntp:lookup')) %}
