{% set map = {
    'Arch': {
        'client': 'ntp',
        'server': 'ntp',
        'service': 'ntpd',
        'ntpdate': 'ntpdate',

        'ntp_conf': '/etc/ntp.conf',
        'ntpd_conf': '/etc/ntpd.conf',
    },
    'Debian': {
        'client': 'ntp',
        'server': 'ntpd',
        'service': 'ntp',
        'ntpdate': 'ntpdate',

        'ntp_conf': '/etc/ntp.conf',
        'ntpd_conf': '/etc/ntpd.conf',

        'ntp_conf_src': 'salt://ntp/files/debian8/ntp.conf.jinja'
    },
    'RedHat': {
        'client': 'ntp',
        'server': 'ntpd',
        'service': 'ntpd',
        'ntpdate': 'ntpdate',

        'ntp_conf': '/etc/ntp.conf',
        'ntpd_conf': '/etc/ntpd.conf',

        'ntp_conf_src': 'salt://ntp/files/centos7/ntp.conf.jinja'
    },
    'Suse': {
        'client': 'ntp',
        'server': 'ntp',
        'service': salt['grains.filter_by']({
            '11.3': 'ntp',
            '11.4': 'ntp',
            'default': 'ntpd',
        }, grain='osrelease'),
        'ntpdate': 'ntpdate',

        'ntp_conf': '/etc/ntp.conf',
        'ntpd_conf': '/etc/ntpd.conf',
    },
} %}

{% set ntp = salt['grains.filter_by'](map, merge=salt['pillar.get']('ntp:lookup')) %}
